#myProgress {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(224, 221, 221);
  border-radius: 5%;
}

#myBar {
  height: 30px;
  color: white;
  background-color: green;
  text-align: center;
  border-radius: 5%;
}

/*# sourceMappingURL=main.css.map */
