#myProgress {
    width: 100%;
    background-color: #ddd;
    border-radius: 10em;
  }
  
  #myBar {
    height: 30px;
    color: white;
    background-color: #218d3a;
    text-align: center;
    border-radius: 10em;
    line-height: 30px;
  }
  